@scope (.number-input-with-slider) to ([class*="loam-"]) {
  :scope {
    max-inline-size: 32rem;
  }

  div.row {
    align-items: center;
    display: block grid;
    gap: var(--loam-space-md);
    grid-template-columns: auto minmax(0, 1fr);
  }
}
