@scope (.loam-PasswordInput) to ([class*="loam-"]) {
  :scope {
    align-items: end;
    display: block grid;
    gap: var(--loam-space-sm);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
  }
}
